<div id="check-out" class="row">
	<div class="col-md-8">
		<div class="item-list content-card">
			<div class="check-out-title">
				Advertisement types
			</div>

			<div class="ad-item" ng-repeat="ad in advertisementList">
				<div class="ad-name" ng-class="ad.id">
					<span>{{ad.adName}}</span>
					<div class="single-ad-price">$ {{ad.stdPrice}}</div>
				</div>

				<div class="ad-desc">
					<ul>
						<li ng-repeat="adPackage in ad.adPackages">
							{{adPackage.adDesc}}
						</li>
					</ul>

					<span class="quantity-box">
						<span class="qty-lable">Qty: </span>
						<input class="form-control qty-input" 
							type="number" 
							name="qty"
							min="0"
							ng-init="ad.qty=0"
							ng-model="ad.qty"
							ng-change="updateSubtotal(ad, advertisementList)">
					</span>
				</div>

				<div class="ad-price">
					$ {{ad.subTotal || 0}}
				</div>
			</div>
		</div>
		
	</div>

	<div class="col-md-4">
		<div class="check-out-box content-card">
			<div class="order-summary-title">
				Order Summary
			</div>

			<div class="summary-box row">
				<div class="col-md-6 summary-box-label">Subtotal</div>
				<div class="col-md-6 summary-box-value">$ {{subTotal || 0}}</div>
			</div>

			<div class="summary-box row">
				<div class="col-md-12">
					<span>
						<input type="text" class="form-control cust-name-input" placeholder="Customer Name">
					</span>
					<span>
						<button type="button" class="btn btn-default">Apply</button>
					</span>
				</div>
			</div>
		</div>
	</div>

</div>