@import '~style/variables.less';
@import '~style/mixin.less';

body {
	background-color: @color-gray;
}

.form-control, 
.btn-default {
	border-radius: 0;
}

.content-card {
	padding: 15px;
	margin-bottom: 15px;
	background: @color-white;
  	.content-shadow-box;
}
